﻿/*
    megridview v0.1
    Developed By Mesut Talebi (mesut.talebi@yahoo.com)
    Open Source And no licence :) free to use 
*/


.gridview {
    /*border: 1px solid #ddd;*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

    .gridview .gridview-header {
        border-bottom: 1px solid #ddd;
        -webkit-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
        -webkit-border-top-left-radius: 4px;
        border-top-left-radius: 4px;       
    }

    .gridview .gridview-header, .gridview .gridview-footer {
        background: #f9f9f9;
        min-height: 50px;
        padding: 8px;        
    }

    .gridview .gridview-viewport {
        min-height: 80px;
        position: relative;
    }

    .gridview .gridview-footer {
        /*border-top: 1px solid #ddd;*/
        -webkit-border-bottom-right-radius: 4px;
        border-bottom-right-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .gridview .gridview-canvas.scrolling {
        bottom: 0;
        left: 0;
        overflow-y: auto;
        position: absolute;
        right: 0;
        top: 0;
    }

    .gridview .gridview-list-header {
        background: #F9F9F9;        
    }

.gridview .gridview-list-header, .gridview .gridview-list-items {
    margin-bottom: 0;
    width: 100%;
}

.gridview .gridview-list-wrapper {
overflow-y: auto;
}

.gridview .gridview[data-currentview="list"] .gridview-loader {
    margin-top: -12px;
}
.gridview.gridview-loader {
    display: none;
    left: 50%;
    position: absolute;
    margin: -32px 0 0 -50px;
    top: 50%;
}

.gridview.loading{
    /*height: 64px;
    font-size: 64px;*/
    /*position: relative;*/
    /*width: 64px;*/    
}

.gridview .gridview-header:before, .gridview .gridview-footer:before, .gridview .gridview-header:after, .gridview .gridview-footer:after {
display: table;
content: "";
line-height: 0;
}

.gridview .gridview-header-left, .gridview .gridview-footer-left {
float: left;
}

.gridview .gridview-header-right, .gridview .gridview-footer-right {
float: right;
}

.gridview .selectlist .btn.dropdown-toggle {
white-space: normal;
}

.gridview .selectlist .btn.dropdown-toggle .selected-label {
padding-right: 10px;
text-align: left;
}
.gridview .selectlist .selected-label {
overflow: hidden;
min-width: 2em;
}

.gridview .gridview-pagination label {
font-weight: normal;
}

.gridview .gridview-pagination .gridview-primaryPaging {
display: none;
vertical-align: middle;
width: 116px;
}
.gridview .gridview-pagination .gridview-primaryPaging ul.dropdown-menu {
min-width: 100px;
}

.gridview .gridview-pagination .gridview-secondaryPaging.active {
display: inline-block;
}
.gridview .gridview-pagination .gridview-secondaryPaging {
display: none;
width: 55px;
}

.gridview .btn, .gridview .btn:hover{
    padding: 6px 12px !important;
}

.gridview .gridview-pagination .gridview-secondaryPaging.form-control
{
    height:34px!important;
    padding: 5px;
}

.gridview .gridview-list-header th.sortable:hover, .gridview .gridview-list-header th.sortable.sorted {
background: #F1F1F1;
cursor: pointer;
background-color: #f1f1f1;
background-image: -moz-linear-gradient(top, #f9f9f9, #e5e5e5);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#e5e5e5));
background-image: -webkit-linear-gradient(top, #f9f9f9, #e5e5e5);
background-image: -o-linear-gradient(top, #f9f9f9, #e5e5e5);
background-image: linear-gradient(to bottom, #f9f9f9, #e5e5e5);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffe5e5e5', GradientType=0);
}

.gridview .gridview-list-header th:first-child, .gridview .gridview-list-items td:first-child {
border-left: none;
}
.gridview .gridview-list-header th {
font-weight: bold;
}
.gridview .gridview-list-header th, .gridview .gridview-list-items td {
border-bottom: 1px solid #ddd;
border-left: 1px solid #ddd;
border-top: none;
}

.gridview img {
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
}