﻿@model mesoft.gridview.Models.CustomersViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MeSoft Gridview V1.0</h1>
    <p class="lead">No Magic! Simple To Use, Simple to Develop</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<!-- GRIDVIEW Area-->
<div class="row">
    @Html.Partial("_GridViewPartial")    
</div>